/* global */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	color: #636363;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	line-height: 1.6;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}
/* reusable classes */
.container {
	max-width: 1200px;
	margin: auto;
}

.btn {
	padding: 20px 35px;
	font-size: 15px;
	font-weight: 500;
	background-image: linear-gradient(
		to right,
		#f55f8d 0,
		#f8ae56 51%,
		#f55f8d 100%
	);
	background-size: 200%;
	border: 1px solid transparent;
	transition: all 0.5s;
	border-radius: 30px;
	color: #fff;
	cursor: pointer;
	outline: none;
	text-transform: uppercase;
	line-height: 1.2;
}

.title p {
	font-weight: 600;
	font-size: 22px;
	margin-bottom: 20px;
	color: #f55f8d;
}

.title h2 {
	font-size: 70px;
	line-height: 1.1;
	font-weight: 800;
	color: #262626;
	margin-bottom: 20px;
}

.grid {
	display: grid;
}
/* header */
header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}

.header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.nav-bar {
	display: flex;
	align-items: center;
}

.nav-bar ul {
	display: flex;
	margin-right: 30px;
}

.nav-bar li {
	padding: 50px 15px;
}

.nav-bar li a {
	color: #070120;
	text-transform: capitalize;
	font-size: 15px;
	font-weight: 500;
	transition: all 0.5s;
}

.nav-bar span {
	display: inline-block;
}

.nav-bar i {
	font-size: 9px;
	margin-top: -3px;
	vertical-align: middle;
}

.nav-bar li:hover a {
	color: #f55f8d;
}

.nav-bar li:hover span {
	animation: upToDown 0.3s forwards;
}

/* carousel
 */
.carousel-section {
	padding-top: 180px;
	overflow: hidden;
	background-image: url(../img/pic2.png);
	/* background-size: cover; */
	background-position: top;
	background-size: 100%;
}

.carousel-content {
	display: flex;
	align-items: center;
}

.carousel-text-content {
	width: 60%;
}

.carousel-img-content {
	width: 40%;
	/* position: absolute;
	right: -10px;
	top: 70px; */
}

.carousel-text-content .title + div p {
	font-size: 18px;
	margin-bottom: 15px;
}

.carousel-text-content .title + div ul {
	margin-bottom: 20px;
}

.carousel-text-content .title + div li {
	padding: 10px 5px 10px 0;
	font-size: 20px;
}

.carousel-text-content .title + div i {
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;

	font-size: 24px;
	color: #fff;
	border-radius: 35px;
	font-weight: 900;
	background-image: linear-gradient(
		to right,
		#f55f8d 0,
		#f8ae56 51%,
		#f55f8d 100%
	);
	background-size: 200%;
	margin-right: 10px;
}

.carousel-img {
	width: 571px;
	margin-left: 50px;
}

.carousel-img img {
	width: 100%;
	display: block;
}

/* service */
.services-section {
	/* padding-bottom: 115px; */
	padding-top: 115px;
	background-image: url(../img/bg2.png);
	background-size: cover;
	background-position: top center;
	text-align: center;
}

.services-content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
	margin-top: 40px;
}

.services-item {
	border-radius: 0.5rem;
	background: #fff;
	box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
	padding: 30px 45px;
	transform: translateY(0);
	transition: all 0.5s;
	border-image: 100 round;
	border: 3px solid transparent;
}

.services-item:hover {
	transform: translateY(-20px);
	border-image: url(../img/br.png) 1 round;
}

.services-item img {
	width: 215px;
}

.services-item h3 {
	font-weight: 700;
	font-size: 1.5rem;
	color: #262626;
	margin: 15px 0;
}
/* about us */
.aboutus-section {
	padding-top: 115px;
	padding-bottom: 85px;
	/* position: relative; */
}

.aboutus-contents {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: relative;
}

.aboutus-img {
	width: 60%;
	position: absolute;
	left: -17%;
}

.aboutus-img img {
	width: 100%;
	border-radius: 0 100px 100px 0;
	/* position: absolute;
	left: -18%;
	top: 1%; */
}

.aboutus-content {
	width: 50%;
}

.aboutus-content i {
	font-size: 24px;
	color: #f55f8d;
	margin-right: 10px;
	vertical-align: middle;
}

.aboutus-content p {
	margin-bottom: 15px;
}

.aboutus-content ul {
	margin-bottom: 30px;
}
/* count number */
.count-number {
	background-image: url(../img/bg14.png);
	background-position: center;
	background-repeat: no-repeat;
	padding: 80px 0 50px;
	text-align: center;
}

.count-number-content {
	display: flex;
	justify-content: space-around;
}

.count-number-item {
	width: 25%;
}

.count-number-item i {
	font-size: 45px;
	background-image: linear-gradient(
		to right,
		#f55f8d 0,
		#f8ae56 51%,
		#f55f8d 100%
	);
	background-size: 200%;
	color: #fff;
	width: 80px;
	height: 80px;
	line-height: 80px;
	display: inline-block;
	border-radius: 50%;
	margin-bottom: 15px;
}

.count-number-item p:nth-child(2) {
	font-size: 65px;
	font-weight: 800;
	color: #f55f8d;
	line-height: 1;
}

.count-number-item p:last-child {
	color: #262626;
	font-size: 18px;
}
/* feature */
.feature-section {
	padding-top: 115px;
	background-image: url(../img/bg2.png);
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
}

.feature-contents {
	display: flex;
}

.feature-content {
	width: 50%;
}

.features-item {
	padding-right: 30px;
	padding-bottom: 50px;
}

.features-item:nth-child(2) {
	padding-left: 30px;
	padding-right: 0;
}

.features-item .feature-item-container {
	background-color: #fff;
	box-shadow: 0 0px 60px 0px rgb(0 0 0 / 10%);
	padding: 30px;
	display: flex;
	position: relative;
	z-index: 2;
	border-radius: 10px;
}

.features-item .feature-item-container::after {
	background-image: linear-gradient(
		to right,
		#f55f8d 0,
		#f8ae56 51%,
		#f55f8d 100%
	);
	background-size: 200%;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all 1s;
	border-radius: 10px;
}

.features-item .feature-item-container:hover::after {
	/* background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%); */
	opacity: 1;
}

.features-item .feature-item-container:hover i {
	color: #fff;
}

.feature-item-container div {
	padding-left: 25px;
	z-index: 2;
}

.feature-item-container i {
	font-size: 80px;
	line-height: 1;
	color: #f55f8d;
	z-index: 2;
}

.feature-img {
	width: 50%;
}

.feature-img .feature-img-container {
	margin-right: -80px;
}

.feature-img img {
	width: 100%;
	animation: move2 5s infinite;
}

/* portfolio */
.portfolio-section {
	padding-top: 115px;
	text-align: center;
	background-image: url(../img/bg17.png);
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
}

.portfolio-content {
	display: grid;
	grid-template-columns: 1fr 1fr 1.5fr;
	gap: 35px;
}

.portfolio-item {
	border-radius: 10px;
	position: relative;
	overflow: hidden;
}

.portfolio-item::before {
	content: "";
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	left: -100%;
	display: block;
	background: linear-gradient(
		to right,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0.3) 100%
	);
	transform: skewX(-25deg);
	transition: all 0.75s;
}
.portfolio-item .overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 0;
	transition: all 0.75s;
}

.portfolio-item .overlay .overlay-icon {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 28px;
	color: #fff;
	width: 50px;
	height: 50px;
	line-height: 50px;
	background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
	background-size: 200px;
	border-radius: 10px;
	/* opacity: 0; */
	transform: translate(20px, -20px);
	transition: all 0.75s;
}

.la-plus:before {
	color: #fff;
	line-height: 50px;
}

.portfolio-item .overlay .overlay-text {
	position: absolute;
	bottom: 30px;
	left: 30px;
	color: #fff;
	text-align: left;
	transform: translateY(150px);
	transition: all 0.75s;
}

.portfolio-item:hover .overlay {
	opacity: 1;
}

.portfolio-item:hover::before {
	left: 125%;
}

.portfolio-item:hover .overlay .overlay-icon {
	transform: translate(0);
}

.portfolio-item:hover .overlay .overlay-text {
	transform: translateY(0);
}

.portfolio-item.item1 {
	grid-column: 1 / span 2;
}

.portfolio-item.item5 {
	grid-column: 1 / span 2;
}

.portfolio-item.item6 {
	grid-column: 3;
	grid-row: 2 / span 2;
}

.portfolio-item img {
	width: 100%;
	height: 100%;
}

/* blog */
.blog-section {
	padding-top: 115px;
	padding-bottom: 50px;
	text-align: center;
	background-image: url(../img/bg16.png);
	background-size: cover;
	background-position: top center;
	text-align: center;
}

.blog-content {
	/* display: flex; */
}

.blog-item {
	text-align: left;
	background-color: rgba(245, 95, 141, 0.1);
	border-radius: 8px;
}

.blog-item-header {
	position: relative;
}

.blog-item-header img {
	width: 100%;
	border-radius: 8px;
}

.blog-item-header span {
	display: inline-block;
	position: absolute;
	color: #fff;
	background-image: linear-gradient(
		to right,
		#f55f8d 0,
		#f8ae56 51%,
		#f55f8d 100%
	);
	background-size: 200%;
	border-radius: 6px;
	font-size: 14px;
	padding: 10px 20px;
	left: 15px;
	bottom: -20px;
}

.blog-item-content {
	padding: 30px 15px 20px 15px;
	line-height: 1.4;
	margin-bottom: 20px;
}

.blog-item-content h3 {
	font-size: 1.5rem;
	font-weight: 700;
	color: #262626;
}

.blog-item-footer {
	display: flex;
	align-items: center;
	padding: 15px;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 14px;
	border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.blog-item-footer span:first-child {
	margin-right: 20px;
}

.blog-item-footer i {
	font-size: 22px;
	color: #f55f8d;
	vertical-align: sub;
}

.blog-item-footer span:first-child span {
	color: #f55f8d;
}
/* footer */
footer {
	background-image: url(../img/bg4.png);
	display: block;
	height: auto;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #0e1b1f;
	background-size: contain;
	color: #fff;
	font-size: 15px;
	position: relative;
}

footer::before {
	content: "";
	background-image: url(../img/pattern2.png);
	background-position: left top;
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.footer-top {
	display: flex;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.1);
	background-image: url(../img/pattern3.png);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 100%;
	position: relative;
	padding: 50px 60px;
}

.footer-text,
.footer-form {
	width: 50%;
}

.footer-text h2 {
	font-size: 28px;
	color: #262626;
}

.footer-form form {
	display: flex;
	border-radius: 0.5rem;
	box-shadow: 0 0 60px 0 rgb(0, 0, 0, 0.1);
}

.footer-form input {
	padding: 20px 20px;
	font-size: 15px;
	font-weight: 400;
	color: #888;
	background: #fff;
	flex: 1 1 auto;
	border-radius: 0.5rem 0 0 0.5rem;
	border: 1px solid #fff;
	outline: none;
	transition: all 0.5s;
}

.footer-form input:focus,
.footer-form input:hover {
	border-color: #f55f8d;
}

.footer-form button {
	padding: 20px 35px;
	font-size: 20px;
	background-image: linear-gradient(
		to right,
		#f55f8d 0,
		#f8ae56 51%,
		#f55f8d 100%
	);
	background-size: 200%;
	border-color: transparent;
	transition: all 0.5s;
	border-radius: 0 0.5rem 0.5rem 0;
	color: white;
	cursor: pointer;
}

.footer-form button:hover {
	background-position: right center;
}

.footer-form button:hover i {
	animation: toLeftFromRight 0.5s forwards;
	display: inline-block;
}

.footer-bottom {
	display: flex;
	padding: 70px 0;
	position: relative;
}

.footer-item {
	width: 25%;
}

.footer-item h3 {
	font-size: 24px;
	font-weight: 700;
	padding-bottom: 10px;
	margin-bottom: 30px;
	position: relative;
	color: #fff;
}

.footer-item h3::before,
.footer-item h3::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 4px;
	border-radius: 20px;
	background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
	background-size: 200%;
}

.footer-item h3::before {
	width: 15px;
}

.footer-item h3::after {
	width: 45px;
	left: 20px;
}

.footer-contact li {
	padding: 8px 0;
	display: flex;
	align-items: center;
}

.footer-contact i {
	height: 40px;
	width: 40px;
	line-height: 40px;
	margin-right: 10px;
	text-align: center;
	background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
	display: block;
	border-radius: 50px;
}

.footer-item li {
	padding: 0.5rem 0;
}

.footer-item a {
	color: #636363;
	font-size: 16px;
	transition: all 0.5s;
}

.footer-item i {
	font-weight: 700;
	margin-right: 10px;
}

.footer-item a:hover {
	color: white;
}

.footer-copyright {
	background-color: #1f343b;
	padding: 10px 0;
	position: relative;
}

.footer-content {
	display: flex;
	justify-content: space-between;
}

.footer-text span {
	color: #f55f8d;
}

.footer-copyright a {
	height: 32px;
	width: 32px;
	line-height: 32px;
	text-align: center;
	display: inline-block;
	border-radius: 50px;
	font-size: 14px;
	color: white;
	background-color: rgba(255, 255, 255, 0.1);
	transition: all 0.5s;
}

.footer-copyright a:hover {
	background: #f55f8d;
}

.backToTop {
	width: 50px;
	height: 50px;
	background: #f55f8d;
	border-radius: 8px;
	line-height: 50px;
	text-align: center;
	display: block;
	position: fixed;
	right: 15px;
	bottom: 15px;
	color: white;
	transition: all 0.2s;
	box-shadow: -4px 4px 24px -10px #f55f8d;
	visibility: hidden;
	opacity: 0;
}

.cd-top--is-visible {
	visibility: visible;
	opacity: 1;
}

/* keyframe */
@keyframes upToDown {
	0% {
		transform: translateY(100%);
	}

	50% {
		opacity: 0;
		transform: translateY(-100%);
	}

	51% {
		opacity: 1;
	}
}

@keyframes move2 {
	0% {
		transform: rotate(1deg) translate(2px, 2px);
	}

	50% {
		transform: rotate(-1deg) translate(-2px, -2px);
	}

	100% {
		transform: rotate(1deg) translate(2px, 2px);
	}
}

@keyframes toLeftFromRight {
	49% {
		transform: translateX(100%);
	}

	50% {
		opacity: 0;
		transform: translateX(-100%);
	}

	51% {
		opacity: 1;
	}
}
